
<div class="row m-1 background-texture justify-content-evenly">
    <div class ="col-12 col-sm-6 col-md-6 col-lg-2 ">
        <h4>Search</h4>
        <nav class="nav flex-column">
            <a class="nav-link" href="#">Find a Dealer</a>
            <a class="nav-link" href="#">Find a Car</a>
            <a class="nav-link" href="#">Register</a>
            <a class="nav-link" href="#">De-Register</a>
            <a class="nav-link" href="#">Sell a Car</a>
        </nav>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 ">
        <h4>Our Partners</h4>
        <nav class="nav flex-column">
            <a class="nav-link" href="#">Find a Dealer</a>
            <a class="nav-link" href="#">Find a Car</a>
            <a class="nav-link" href="#">Register</a>
            <a class="nav-link" href="#">De-Register</a>
            <a class="nav-link" href="#">Sell a Car</a>
        </nav>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 ">
        <h4>Helpful Links</h4>
        <nav class="nav flex-column">
            <a class="nav-link" href="#">Find a Mechanic</a>
            <a class="nav-link" href="#">Find a Service Provider</a>
        </nav>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 ">
        <h4>Fast Car Sales</h4>
        <nav class="nav flex-column">
            <a class="nav-link" href="#">About Us</a>
            <a class="nav-link" href="#">Contact Us</a>
        </nav>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-2 ">
        <div class="d-flex align-items-center flex-column">
            <a class="nav-link" href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a class="nav-link" href="https://www.tiktok.com/" target="_blank">
                <i class="fab fa-tiktok fa-lg"></i>
            </a>
            <a class="nav-link" href="https://twitter.com/" target="_blank">
                <i class="fab fa-x-twitter fa-lg"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+263781343049&text=Hello%20there!" target="_blank"> 
                <i class="fab fa-whatsapp"></i> Chat with us on WhatsApp 
                
            </a>
        </div>
    </div>
   
</div>





@* <style>
    .nav-link {
        padding-left: 0; /* Remove default padding */
        margin-left: 0; /* Remove any margin */
    }

	.pichght {
		height: 600px;
		object-fit: cover;
	}

	.btn-round {
		border-radius: 40px;
	}

	.background-gradient {
		background: linear-gradient(to right, #f7f8fc, #e2e8f0);
		padding: 1px;
		border-radius: 4px; /* Optional: adds rounded corners */
	}

	.background-texture {
		background: url('images/homepage/background.webp');
		background-size: cover; /* Ensures the texture covers the entire div */
		padding: 1px;
		border-radius: 4px; /* Optional: adds rounded corners */
	}

</style> *@

@code {

}
