@page "/searchresults"

@using System.Globalization

@inherits SearchAndResultsBase

<!--two panes-->
@* <div class="container-fluid" style="height: 100vh;">
	<div class="d-flex col-md-12 justify-content-between" style="height: 100%;">
		<div class="col-md-4" style="overflow-y: auto;">
			<Search SearchModel="SearchModel" SearchButtonClickedEvent="GetSearchResults"></Search>
		</div>

		<div class="col-md-8" style="overflow-y: auto;">
			<Results SearchModel="SearchModel" ResultsView="ResultsView"></Results>
		</div>
	</div>
</div> *@

<!--side bar-->

	<div class="row" style="height: 100%;">
		<div class="col-md-4" style="overflow-y: hidden; height: 100vh; position: fixed;">
			<SearchPane ></SearchPane>
		</div>
		<CascadingValue Value="this" Name="ParentComponent">
		<div class="col-md-8 offset-md-4" >
			<ResultsPane ></ResultsPane>
		</div>
	</CascadingValue>
	</div>
