*{
    box-sizing:border-box;
}

.card-price {
    position: absolute;
    left: 10px;
    background-color: #fff;
    border: 1px solid #f60;
    padding: 5px;
    border-radius: 10px;
    line-height: 0.8rem;
}

.post-price {
    background-color: #fff;
    border: 1px solid #f60;
    padding: 5px;
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}